.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .img{
    display: block;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    /* border-radius: 50%; */
  }
  .skillimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .proimg{
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 20%;
  }
  .projectimg{
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;
  }
  @keyframes moveInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    80%{
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translate(-100px);
    }
  }
  .text {
    animation-name: moveInFromRight;
    animation-duration: 5s;
    /* animation-timing-function: ease-in; */
  }

  @keyframes moveInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80%{
      transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  .forImage {
    animation-name: moveInFromLeft;
    animation-duration: 5s;
    /* animation-timing-function: ease-in; */
  }